#game-area {
    display: grid;
    grid-template-columns: repeat(10,70px);
    grid-template-rows: repeat(10, 70px);
    gap:2px;

}
.cell {
    width: 70px;
    height: 70px;
    background-color: #7BB369;
    border: 1px solid #439111;
}

.enemy-path{
    background-color: #fff;
}

#tower-select{
    display: grid;
    grid-template-columns: repeat(5, 140px);
    grid-template-rows: repeat(1, 140px);
    gap: 6px;
    padding: 50px 0 0 10px;
}

.tower {
    font-size: 50px;
}

.cell {
    font-size: 50px;
    text-align: center;
}
